@use "../variables";

@mixin slider(
  $min-width: 4rem,
  $min-height: 0.5rem,
  $background-color: variables.$gray-800,
  $progress-background-color: variables.$gray-50,
  $progress-hover-background-color: variables.$white
) {
  all: unset;

  * {
    all: unset;
  }

  trough {
    min-width: $min-width;
    min-height: $min-height;

    background-color: $background-color;
    border-radius: variables.$radius-full;

    highlight {
      min-height: $min-height;

      background-color: $progress-background-color;
      border-radius: variables.$radius-full;

      &:hover {
        background-color: $progress-hover-background-color;
      }
    }
  }

  &:disabled {
    highlight {
      background-color: transparentize($progress-background-color, 0.3);
    }
  }
}
