@use "./button" as *;

@use "../variables";

@mixin switch {
  @include button;

  slider {
    min-width: 24px;
    min-height: 24px;

    background-color: variables.$accent-bg-color;
    border-radius: 12px;
  }

  image {
    color: transparent;
  }
}
