/* 
 * Adapted from TailwindCSS default border radius scale.
 * 
 * See: https://tailwindcss.com/docs/border-radius.
 */
$radii: (
  "none": 0px,
  "sm": 2px,
  "md": 6px,
  "lg": 8px,
  "xl": 12px,
  "2xl": 16px,
  "3xl": 24px,
  "4xl": 32px,
  "full": 9999px,
);

$default-radius: 4px;

$widths: (
  "0": 0px,
  "2": 2px,
  "4": 4px,
  "6": 6px,
  "8": 8px,
);

$default-width: 1px;

.rounded {
  border-radius: $default-radius;
}

.rounded-t {
  border-top-left-radius: $default-radius;
  border-top-right-radius: $default-radius;
}

.rounded-r {
  border-top-right-radius: $default-radius;
  border-bottom-right-radius: $default-radius;
}

.rounded-b {
  border-bottom-left-radius: $default-radius;
  border-bottom-right-radius: $default-radius;
}

.rounded-l {
  border-top-left-radius: $default-radius;
  border-bottom-left-radius: $default-radius;
}

.first-child\:rounded:first-child {
  border-top-left-radius: $default-radius;
  border-top-right-radius: $default-radius;
}

.first-child\:rounded-t:first-child {
  border-top-left-radius: $default-radius;
  border-top-right-radius: $default-radius;
}

.first-child\:rounded-r:first-child {
  border-top-right-radius: $default-radius;
  border-bottom-right-radius: $default-radius;
}

.first-child\:rounded-b:first-child {
  border-bottom-left-radius: $default-radius;
  border-bottom-right-radius: $default-radius;
}

.first-child\:rounded-l:first-child {
  border-top-left-radius: $default-radius;
  border-bottom-left-radius: $default-radius;
}

.last-child\:rounded:last-child {
  border-bottom-left-radius: $default-radius;
  border-bottom-right-radius: $default-radius;
}

.last-child\:rounded-t:last-child {
  border-top-left-radius: $default-radius;
  border-top-right-radius: $default-radius;
}

.last-child\:rounded-r:last-child {
  border-top-right-radius: $default-radius;
  border-bottom-right-radius: $default-radius;
}

.last-child\:rounded-b:last-child {
  border-bottom-left-radius: $default-radius;
  border-bottom-right-radius: $default-radius;
}

@each $key, $value in $radii {
  .rounded-#{$key} {
    border-radius: $value;
  }

  .rounded-t-#{$key} {
    border-top-left-radius: $value;
    border-top-right-radius: $value;
  }

  .rounded-r-#{$key} {
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
  }

  .rounded-b-#{$key} {
    border-bottom-left-radius: $value;
    border-bottom-right-radius: $value;
  }

  .rounded-l-#{$key} {
    border-top-left-radius: $value;
    border-bottom-left-radius: $value;
  }

  .first-child\:rounded-#{$key}:first-child {
    border-top-left-radius: $value;
    border-top-right-radius: $value;
  }

  .first-child\:rounded-t-#{$key}:first-child {
    border-top-left-radius: $value;
    border-top-right-radius: $value;
  }

  .first-child\:rounded-r-#{$key}:first-child {
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
  }

  .first-child\:rounded-b-#{$key}:first-child {
    border-bottom-left-radius: $value;
    border-bottom-right-radius: $value;
  }

  .first-child\:rounded-l-#{$key}:first-child {
    border-top-left-radius: $value;
    border-bottom-left-radius: $value;
  }

  .last-child\:rounded-#{$key}:last-child {
    border-bottom-left-radius: $value;
    border-bottom-right-radius: $value;
  }

  .last-child\:rounded-t-#{$key}:last-child {
    border-top-left-radius: $value;
    border-top-right-radius: $value;
  }

  .last-child\:rounded-r-#{$key}:last-child {
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
  }

  .last-child\:rounded-b-#{$key}:last-child {
    border-bottom-left-radius: $value;
    border-bottom-right-radius: $value;
  }
}

.border {
  border-width: $default-width;
  border-style: solid;
}

.border-t {
  border-top-width: $default-width;
  border-top-style: solid;
}

.border-r {
  border-right-width: $default-width;
  border-right-style: solid;
}

.border-b {
  border-bottom-width: $default-width;
  border-bottom-style: solid;
}

.border-l {
  border-left-width: $default-width;
  border-left-style: solid;
}

.border-x {
  border-left-width: $default-width;
  border-right-width: $default-width;
  border-left-style: solid;
  border-right-style: solid;
}

.border-y {
  border-top-width: $default-width;
  border-bottom-width: $default-width;
  border-top-style: solid;
  border-bottom-style: solid;
}

.divide-x > * + * {
  border-left-width: $default-width;
  border-right-width: 0px;
  border-left-style: solid;
  border-right-style: solid;
}

.divide-y > * + * {
  border-top-width: $default-width;
  border-bottom-width: 0px;
  border-top-style: solid;
  border-bottom-style: solid;
}

.hover\:border:hover {
  border-width: $default-width;
  border-style: solid;
}

.hover\:border-t:hover {
  border-top-width: $default-width;
  border-top-style: solid;
}

.hover\:border-r:hover {
  border-right-width: $default-width;
  border-right-style: solid;
}

.hover\:border-b:hover {
  border-bottom-width: $default-width;
  border-bottom-style: solid;
}

.hover\:border-l:hover {
  border-left-width: $default-width;
  border-left-style: solid;
}

.hover\:border-x:hover {
  border-left-width: $default-width;
  border-right-width: $default-width;
  border-left-style: solid;
  border-right-style: solid;
}

.hover\:border-y:hover {
  border-top-width: $default-width;
  border-bottom-width: $default-width;
  border-top-style: solid;
  border-bottom-style: solid;
}

.focus\:border:focus {
  border-width: $default-width;
  border-style: solid;
}

.focus\:border-t:focus {
  border-top-width: $default-width;
  border-top-style: solid;
}

.focus\:border-r:focus {
  border-right-width: $default-width;
  border-right-style: solid;
}

.focus\:border-b:focus {
  border-bottom-width: $default-width;
  border-bottom-style: solid;
}

.focus\:border-l:focus {
  border-left-width: $default-width;
  border-left-style: solid;
}

.focus\:border-x:focus {
  border-left-width: $default-width;
  border-right-width: $default-width;
  border-left-style: solid;
  border-right-style: solid;
}

.focus\:border-y:focus {
  border-top-width: $default-width;
  border-bottom-width: $default-width;
  border-top-style: solid;
  border-bottom-style: solid;
}

.active\:border:active {
  border-width: $default-width;
  border-style: solid;
}

.active\:border-t:active {
  border-top-width: $default-width;
  border-top-style: solid;
}

.active\:border-r:active {
  border-right-width: $default-width;
  border-right-style: solid;
}

.active\:border-b:active {
  border-bottom-width: $default-width;
  border-bottom-style: solid;
}

.active\:border-l:active {
  border-left-width: $default-width;
  border-left-style: solid;
}

.active\:border-x:active {
  border-left-width: $default-width;
  border-right-width: $default-width;
  border-left-style: solid;
  border-right-style: solid;
}

.active\:border-y:active {
  border-top-width: $default-width;
  border-bottom-width: $default-width;
  border-top-style: solid;
  border-bottom-style: solid;
}

.disabled\:border:disabled {
  border-width: $default-width;
  border-style: solid;
}

.disabled\:border-t:disabled {
  border-top-width: $default-width;
  border-top-style: solid;
}

.disabled\:border-r:disabled {
  border-right-width: $default-width;
  border-right-style: solid;
}

.disabled\:border-b:disabled {
  border-bottom-width: $default-width;
  border-bottom-style: solid;
}

.disabled\:border-l:disabled {
  border-left-width: $default-width;
  border-left-style: solid;
}

.disabled\:border-x:disabled {
  border-left-width: $default-width;
  border-right-width: $default-width;
  border-left-style: solid;
  border-right-style: solid;
}

.disabled\:border-y:disabled {
  border-top-width: $default-width;
  border-bottom-width: $default-width;
  border-top-style: solid;
  border-bottom-style: solid;
}

.checked\:border:checked {
  border-width: $default-width;
  border-style: solid;
}

.checked\:border-t:checked {
  border-top-width: $default-width;
  border-top-style: solid;
}

.checked\:border-r:checked {
  border-right-width: $default-width;
  border-right-style: solid;
}

.checked\:border-b:checked {
  border-bottom-width: $default-width;
  border-bottom-style: solid;
}

.checked\:border-l:checked {
  border-left-width: $default-width;
  border-left-style: solid;
}

.checked\:border-x:checked {
  border-left-width: $default-width;
  border-right-width: $default-width;
  border-left-style: solid;
  border-right-style: solid;
}

.checked\:border-y:checked {
  border-top-width: $default-width;
  border-bottom-width: $default-width;
  border-top-style: solid;
  border-bottom-style: solid;
}

@each $key, $value in $widths {
  .border-#{$key} {
    border-width: $value;
    border-style: solid;
  }

  .border-t-#{$key} {
    border-top-width: $value;
    border-top-style: solid;
  }

  .border-r-#{$key} {
    border-right-width: $value;
    border-right-style: solid;
  }

  .border-b-#{$key} {
    border-bottom-width: $value;
    border-bottom-style: solid;
  }

  .border-l-#{$key} {
    border-left-width: $value;
    border-left-style: solid;
  }

  .border-x-#{$key} {
    border-left-width: $value;
    border-right-width: $value;
    border-left-style: solid;
    border-right-style: solid;
  }

  .border-y-#{$key} {
    border-top-width: $value;
    border-bottom-width: $value;
    border-top-style: solid;
    border-bottom-style: solid;
  }

  .divide-x-#{$key} > * + * {
    border-left-width: $value;
    border-right-width: 0px;
    border-left-style: solid;
    border-right-style: solid;
  }

  .divide-y-#{$key} > * + * {
    border-top-width: $value;
    border-bottom-width: 0px;
    border-top-style: solid;
    border-bottom-style: solid;
  }

  .hover\:border-#{$key}:hover {
    border-width: $value;
    border-style: solid;
  }

  .hover\:border-t-#{$key}:hover {
    border-top-width: $value;
    border-top-style: solid;
  }

  .hover\:border-r-#{$key}:hover {
    border-right-width: $value;
    border-right-style: solid;
  }

  .hover\:border-b-#{$key}:hover {
    border-bottom-width: $value;
    border-bottom-style: solid;
  }

  .hover\:border-l-#{$key}:hover {
    border-left-width: $value;
    border-left-style: solid;
  }

  .hover\:border-x-#{$key}:hover {
    border-left-width: $value;
    border-right-width: $value;
    border-left-style: solid;
    border-right-style: solid;
  }

  .hover\:border-y-#{$key}:hover {
    border-top-width: $value;
    border-bottom-width: $value;
    border-top-style: solid;
    border-bottom-style: solid;
  }

  .focus\:border-#{$key}:focus {
    border-width: $value;
    border-style: solid;
  }

  .focus\:border-t-#{$key}:focus {
    border-top-width: $value;
    border-top-style: solid;
  }

  .focus\:border-r-#{$key}:focus {
    border-right-width: $value;
    border-right-style: solid;
  }

  .focus\:border-b-#{$key}:focus {
    border-bottom-width: $value;
    border-bottom-style: solid;
  }

  .focus\:border-l-#{$key}:focus {
    border-left-width: $value;
    border-left-style: solid;
  }

  .focus\:border-x-#{$key}:focus {
    border-left-width: $value;
    border-right-width: $value;
    border-left-style: solid;
    border-right-style: solid;
  }

  .focus\:border-y-#{$key}:focus {
    border-top-width: $value;
    border-bottom-width: $value;
    border-top-style: solid;
    border-bottom-style: solid;
  }

  .active\:border-#{$key}:active {
    border-width: $value;
    border-style: solid;
  }

  .active\:border-t-#{$key}:active {
    border-top-width: $value;
    border-top-style: solid;
  }

  .active\:border-r-#{$key}:active {
    border-right-width: $value;
    border-right-style: solid;
  }

  .active\:border-b-#{$key}:active {
    border-bottom-width: $value;
    border-bottom-style: solid;
  }

  .active\:border-l-#{$key}:active {
    border-left-width: $value;
    border-left-style: solid;
  }

  .active\:border-x-#{$key}:active {
    border-left-width: $value;
    border-right-width: $value;
    border-left-style: solid;
    border-right-style: solid;
  }

  .active\:border-y-#{$key}:active {
    border-top-width: $value;
    border-bottom-width: $value;
    border-top-style: solid;
    border-bottom-style: solid;
  }

  .disabled\:border-#{$key}:disabled {
    border-width: $value;
    border-style: solid;
  }

  .disabled\:border-t-#{$key}:disabled {
    border-top-width: $value;
    border-top-style: solid;
  }

  .disabled\:border-r-#{$key}:disabled {
    border-right-width: $value;
    border-right-style: solid;
  }

  .disabled\:border-b-#{$key}:disabled {
    border-bottom-width: $value;
    border-bottom-style: solid;
  }

  .disabled\:border-l-#{$key}:disabled {
    border-left-width: $value;
    border-left-style: solid;
  }

  .disabled\:border-x-#{$key}:disabled {
    border-left-width: $value;
    border-right-width: $value;
    border-left-style: solid;
    border-right-style: solid;
  }

  .disabled\:border-y-#{$key}:disabled {
    border-top-width: $value;
    border-bottom-width: $value;
    border-top-style: solid;
    border-bottom-style: solid;
  }

  .checked\:border-#{$key}:checked {
    border-width: $value;
    border-style: solid;
  }

  .checked\:border-t-#{$key}:checked {
    border-top-width: $value;
    border-top-style: solid;
  }

  .checked\:border-r-#{$key}:checked {
    border-right-width: $value;
    border-right-style: solid;
  }

  .checked\:border-b-#{$key}:checked {
    border-bottom-width: $value;
    border-bottom-style: solid;
  }

  .checked\:border-l-#{$key}:checked {
    border-left-width: $value;
    border-left-style: solid;
  }

  .checked\:border-x-#{$key}:checked {
    border-left-width: $value;
    border-right-width: $value;
    border-left-style: solid;
    border-right-style: solid;
  }

  .checked\:border-y-#{$key}:checked {
    border-top-width: $value;
    border-bottom-width: $value;
    border-top-style: solid;
    border-bottom-style: solid;
  }
}
