$shadows: (
  "none": "0 0 #000000",
  "sm":
    "0 1px 2px 0 rgb(from var(--local-shadow-color, rgb(0, 0, 0)) r g b / calc(alpha - 90%))",
  "md":
    "0 4px 6px -1px rgb(from var(--local-shadow-color, rgb(0, 0, 0)) r g b / calc(alpha - 85%)), 0 2px 4px -2px rgb(from var(--local-shadow-color, rgb(0, 0, 0)) r g b / calc(alpha - 85%))",
  "lg":
    "0 10px 15px -3px rgb(from var(--local-shadow-color, rgb(0, 0, 0)) r g b / calc(alpha - 85%)), 0 4px 6px -4px rgb(from var(--local-shadow-color, rgb(0, 0, 0)) r g b / calc(alpha - 85%))",
  "xl":
    "0 20px 25px -5px rgb(from var(--local-shadow-color, rgb(0, 0, 0)) r g b / calc(alpha - 85%)), 0 8px 10px -6px rgb(from var(--local-shadow-color, rgb(0, 0, 0)) r g b / calc(alpha - 85%))",
  "2xl":
    "0 25px 50px -12px rgb(from var(--local-shadow-color, rgb(0, 0, 0)) r g b / calc(alpha - 75%))",
  "inner":
    "inset 0 2px 4px 0 rgb(from var(--local-shadow-color, rgb(0, 0, 0)) r g b / calc(alpha - 95%))",
);

$default-shadow: "0 1px 3px 0 rgb(from var(--local-shadow-color, rgb(0, 0, 0)) r g b / calc(alpha - 85%)), 0 1px 2px -1px rgb(from var(--local-shadow-color, rgb(0, 0, 0)) r g b / calc(alpha - 85%))";

$opacities: (
  "0": 0,
  "5": 0.05,
  "10": 0.1,
  "15": 0.15,
  "20": 0.2,
  "25": 0.25,
  "30": 0.3,
  "35": 0.35,
  "40": 0.4,
  "45": 0.45,
  "50": 0.5,
  "55": 0.55,
  "60": 0.6,
  "65": 0.65,
  "70": 0.7,
  "75": 0.75,
  "80": 0.8,
  "85": 0.85,
  "90": 0.9,
  "95": 0.95,
  "100": 1,
);

.shadow {
  box-shadow: unquote($default-shadow);
}

.hover\:shadow:hover {
  box-shadow: unquote($default-shadow);
}

.focus\:shadow:focus {
  box-shadow: unquote($default-shadow);
}

.active\:shadow:active {
  box-shadow: unquote($default-shadow);
}

.disabled\:shadow:disabled {
  box-shadow: unquote($default-shadow);
}

.checked\:shadow:checked {
  box-shadow: unquote($default-shadow);
}

@each $key, $value in $shadows {
  .shadow-#{$key} {
    box-shadow: unquote($value);
  }

  .hover\:shadow-#{$key}:hover {
    box-shadow: unquote($value);
  }

  .focus\:shadow-#{$key}:focus {
    box-shadow: unquote($value);
  }

  .active\:shadow-#{$key}:active {
    box-shadow: unquote($value);
  }

  .disabled\:shadow-#{$key}:disabled {
    box-shadow: unquote($value);
  }

  .checked\:shadow-#{$key}:checked {
    box-shadow: unquote($value);
  }
}

@each $key, $value in $opacities {
  .opacity-#{$key} {
    opacity: $value;
  }

  .hover\:opacity-#{$key}:hover {
    opacity: $value;
  }

  .focus\:opacity-#{$key}:focus {
    opacity: $value;
  }

  .active\:opacity-#{$key}:active {
    opacity: $value;
  }

  .disabled\:opacity-#{$key}:disabled {
    opacity: $value;
  }

  .checked\:opacity-#{$key}:checked {
    opacity: $value;
  }
}
