@use "./typography";

$styles: (
  "requested": requested,
  "regular": regular,
  "symbolic": symbolic,
);

@each $key, $value in $styles {
  .gtk-icon-style-#{$key} {
    -gtk-icon-style: $value;
  }
}

@each $key, $value in typography.$sizes {
  .gtk-icon-size-#{$key} {
    -gtk-icon-size: $value;
  }
}
