/* 
 * Adapted from TailwindCSS default transitions.
 * 
 * See: https://tailwindcss.com/docs/transition-property.
 */
$transition-properties: (
  "all": all,
  "colors": (
    background-color,
    border-color,
    caret-color,
    color,
    outline-color,
    text-decoration-color,
  ),
  "opacity": opacity,
  "shadow": box-shadow,
  "sizes": (
    min-height,
    min-width,
  ),
  "transform": transform,
);

$transition-durations: (
  "0": 0s,
  "75": 75ms,
  "100": 100ms,
  "150": 150ms,
  "200": 200ms,
  "300": 300ms,
  "500": 500ms,
  "700": 700ms,
  "1000": 1000ms,
);

$transition-timing-functions: (
  "linear": linear,
  "ease-in": ease-in,
  "ease-out": ease-out,
  "ease-in-out": ease-in-out,
);

.transition {
  transition-property: background-color, border-color, caret-color, color,
    outline-color, text-decoration-color, opacity, box-shadow, transform, filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@each $key, $value in $transition-properties {
  .transition-#{$key} {
    transition-property: $value;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

@each $key, $value in $transition-durations {
  .duration-#{$key} {
    transition-duration: $value;
  }
}

@each $key, $value in $transition-timing-functions {
  .timing-#{$key} {
    transition-timing-function: $value;
  }
}
