:root {
  /* Colors */
  --blue-1: rgb(153, 193, 241);
  --blue-2: rgb(98, 160, 234);
  --blue-3: rgb(53, 132, 228);
  --blue-4: rgb(28, 113, 216);
  --blue-5: rgb(26, 95, 180);

  --green-1: rgb(143, 240, 164);
  --green-2: rgb(87, 227, 137);
  --green-3: rgb(51, 209, 122);
  --green-4: rgb(46, 194, 126);
  --green-5: rgb(38, 162, 105);

  --yellow-1: rgb(249, 240, 107);
  --yellow-2: rgb(248, 228, 92);
  --yellow-3: rgb(246, 211, 45);
  --yellow-4: rgb(245, 194, 17);
  --yellow-5: rgb(229, 165, 10);

  --orange-1: rgb(255, 190, 111);
  --orange-2: rgb(255, 163, 72);
  --orange-3: rgb(255, 120, 0);
  --orange-4: rgb(230, 97, 0);
  --orange-5: rgb(198, 70, 0);

  --red-1: rgb(246, 97, 81);
  --red-2: rgb(237, 51, 59);
  --red-3: rgb(224, 27, 36);
  --red-4: rgb(192, 28, 40);
  --red-5: rgb(165, 29, 45);

  --purple-1: rgb(220, 138, 221);
  --purple-2: rgb(192, 97, 203);
  --purple-3: rgb(145, 65, 172);
  --purple-4: rgb(129, 61, 156);
  --purple-5: rgb(97, 53, 131);

  --gray-50: rgb(198, 198, 198);
  --gray-100: rgb(172, 172, 172);
  --gray-200: rgb(129, 129, 129);
  --gray-300: rgb(102, 102, 102);
  --gray-400: rgb(69, 69, 69);
  --gray-500: rgb(58, 58, 58);
  --gray-600: rgb(48, 48, 48);
  --gray-700: rgb(42, 42, 42);
  --gray-800: rgb(36, 36, 36);
  --gray-900: rgb(30, 30, 30);
  --gray-950: rgb(18, 18, 18);

  --primary-1: var(--blue-1);
  --primary-2: var(--blue-2);
  --primary-3: var(--blue-3);
  --primary-4: var(--blue-4);
  --primary-5: var(--blue-5);

  /* Typography */
  --font-family-sans: "Inter", sans-serif;
  --font-family-mono: "MonaspiceNe NFM", monospace;
}
