@use "./mixins/gap" as *;
@use "./mixins/slider" as *;

@use "./variables";

.bar {
  min-height: 2rem;

  padding: variables.$space-xs variables.$space-lg;

  color: variables.$white;
  background-color: variables.$black;
  font-size: variables.$text-md;

  * {
    all: unset;

    transition: variables.$transition-fast;
  }

  .group {
    @include gap($spacing: variables.$space-3xl);

    .sub-group {
      @include gap($spacing: variables.$space-2xl);
    }
  }

  .workspaces {
    @include gap();

    .workspace {
      min-width: 0.5rem;
      min-height: 0.5rem;

      background-color: variables.$gray-50;
      border-radius: variables.$radius-xs;

      &.active {
        min-width: 2.25rem;

        background-color: variables.$white;
      }

      &:hover {
        background-color: variables.$white;
      }
    }
  }

  .system-tray {
    @include gap();

    .item {
      min-width: 1.75rem;
      min-height: 1.75rem;

      background-color: transparentize(variables.$gray-300, 1);
      border-radius: variables.$radius-xs;

      &.active,
      &:hover {
        background-color: variables.$gray-300;
      }

      .icon {
        font-size: variables.$text-xl;
      }
    }
  }

  .volume {
    @include gap($spacing: variables.$space-lg);

    .icon,
    .label {
      font-family: variables.$monospace;
      font-size: variables.$text-md;
    }

    .label {
      // Needs some extra space for some reason.
      margin-right: variables.$space-lg;
    }

    .icon {
      font-size: variables.$text-xl;
    }

    .slider {
      @include slider();
    }
  }

  .battery {
    @include gap($spacing: variables.$space-lg);

    .icon,
    .label {
      font-family: variables.$monospace;
      font-size: variables.$text-md;
    }

    .icon {
      font-size: variables.$text-xl;
    }

    .progress {
      trough {
        min-width: 4rem;
        min-height: 0.5rem;

        background-color: variables.$gray-800;
        border-radius: variables.$radius-full;

        progress {
          min-height: 0.5rem;

          border-radius: variables.$radius-full;
        }
      }
    }

    &.normal {
      progress {
        background-color: variables.$gray-50;
      }
    }

    &.charging {
      .icon,
      .label {
        color: variables.$green-2;
      }

      progress {
        background-color: variables.$green-3;
      }
    }

    &.low {
      .icon,
      .label {
        color: variables.$yellow-2;
      }

      progress {
        background-color: variables.$yellow-3;
      }
    }

    &.critical {
      .icon,
      .label {
        color: variables.$red-2;
      }

      progress {
        background-color: variables.$red-3;
      }
    }
  }

  .system-button {
    min-width: 1.75rem;
    min-height: 1.75rem;

    background-color: transparentize(variables.$gray-300, 1);
    border-radius: variables.$radius-xs;

    &.active,
    &:hover {
      background-color: variables.$gray-300;
    }

    .icon {
      font-size: variables.$text-xl;
    }
  }
}
