@use "./mixins/button" as *;
@use "./mixins/floating-widget" as *;
@use "./mixins/gap" as *;

@use "./variables";

window.launcher .launcher {
  @include floating-widget;

  margin: 14rem 0 0 0;
  padding: variables.$space-2xl;

  background-color: transparentize(variables.$gray-950, 0.2);

  border: none;
  border-radius: variables.$radius-xl;

  .search {
    * {
      all: unset;
    }

    padding: variables.$space-xl;

    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: variables.$text-2xl;

    selection {
      color: transparentize(variables.$white, 0.25);
      background-color: transparentize(variables.$accent-bg-color, 0.5);
    }

    image {
      margin-left: variables.$space-sm;
      margin-right: variables.$space-xl;

      color: variables.$white;
      font-size: variables.$text-3xl;
    }

    label {
      color: transparentize(variables.$white, 0.2);
    }

    &.dirty {
      label {
        color: variables.$white;
      }
    }
  }

  .favorites {
    .rows.vertical {
      .row.horizontal {
        .button.favorite {
          @include button();

          padding: variables.$space-lg;

          background-color: transparent;

          &:hover,
          &:focus {
            background-color: variables.$gray-700;
          }
        }
      }
    }
  }

  .results {
    .button.app {
      @include button();

      > box {
        @include gap($spacing: variables.$space-xl);
      }

      padding: variables.$space-lg;

      background-color: transparent;

      transition: variables.$transition-fast;

      label {
        transition: variables.$transition-fast;

        &.title {
          margin-bottom: variables.$space-sm;

          color: variables.$white;
          font-size: variables.$text-lg;
        }

        &.description {
          color: transparentize(variables.$white, 0.2);
        }
      }

      image {
        transition: variables.$transition-fast;
      }

      &:hover,
      &:focus {
        background-color: variables.$gray-700;
      }
    }
  }
}
