@use "./mixins/button" as *;
@use "./mixins/floating-widget" as *;
@use "./mixins/media" as *;
@use "./mixins/gap" as *;
@use "./mixins/switch" as *;

@use "./variables";

window.quicksettings .settings {
  @include floating-widget;
  @include gap($spacing: variables.$space-2xl);

  min-width: 380px;

  padding: variables.$space-3xl;

  .header {
    @include gap($spacing: variables.$space-lg);

    button {
      @include button($round: true);

      padding: variables.$space-lg;

      image {
        font-size: variables.$text-2xl;
      }
    }
  }

  .row {
    @include gap($spacing: variables.$space-lg);
  }

  .menu {
    all: unset;

    padding: variables.$space-2xl;
    margin-top: variables.$space-lg;

    color: variables.$white;
    background-color: variables.$gray-200;
    border-radius: variables.$radius-xl;

    transition: variables.$transition-normal;

    .icon {
      margin-right: variables.$space-lg;
    }

    .title {
      margin-bottom: variables.$space-md;

      font-weight: bold;
    }

    separator {
      margin: variables.$space-lg;

      background-color: variables.$gray-100;
    }

    button {
      @include button();

      padding: variables.$space-lg;

      image:first-child {
        margin-right: variables.$space-lg;
      }
    }

    .bluetooth-devices {
      @include gap();
    }

    switch {
      @include switch;
    }
  }

  .arrow-button {
    font-weight: bold;

    image {
      font-size: variables.$text-xl;
    }

    label {
      margin-left: variables.$space-lg;
    }

    .button {
      @include button($round: true);

      padding: variables.$space-2xl variables.$space-3xl;

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .arrow {
      @include button($round: true);

      padding: variables.$space-2xl variables.$space-xl;

      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .toggle-button {
    @include button($round: true);

    padding: variables.$space-2xl variables.$space-3xl;

    font-weight: bold;

    image {
      color: variables.$white;
      font-size: variables.$text-xl;
    }

    label {
      margin-left: variables.$space-lg;
    }
  }

  .media {
    @include gap;

    .player {
      @include media;
    }
  }
}
