// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$blue-1: rgb(153, 193, 241);
$blue-2: rgb(98, 160, 234);
$blue-3: rgb(53, 132, 228);
$blue-4: rgb(28, 113, 216);
$blue-5: rgb(26, 95, 180);

$green-1: rgb(143, 240, 164);
$green-2: rgb(87, 227, 137);
$green-3: rgb(51, 209, 122);
$green-4: rgb(46, 194, 126);
$green-5: rgb(38, 162, 105);

$yellow-1: rgb(249, 240, 107);
$yellow-2: rgb(248, 228, 92);
$yellow-3: rgb(246, 211, 45);
$yellow-4: rgb(245, 194, 17);
$yellow-5: rgb(229, 165, 10);

$orange-1: rgb(255, 190, 111);
$orange-2: rgb(255, 163, 72);
$orange-3: rgb(255, 120, 0);
$orange-4: rgb(230, 97, 0);
$orange-5: rgb(198, 70, 0);

$red-1: rgb(246, 97, 81);
$red-2: rgb(237, 51, 59);
$red-3: rgb(224, 27, 36);
$red-4: rgb(192, 28, 40);
$red-5: rgb(165, 29, 45);

$purple-1: rgb(220, 138, 221);
$purple-2: rgb(192, 97, 203);
$purple-3: rgb(145, 65, 172);
$purple-4: rgb(129, 61, 156);
$purple-5: rgb(97, 53, 131);

$gray-50: rgb(129, 129, 129);
$gray-100: rgb(102, 102, 102);
$gray-200: rgb(69, 69, 69);
$gray-300: rgb(58, 58, 58);
$gray-400: rgb(48, 48, 48);
$gray-500: rgb(42, 42, 42);
$gray-600: rgb(38, 38, 38);
$gray-700: rgb(36, 36, 36);
$gray-800: rgb(30, 30, 30);
$gray-900: rgb(18, 18, 18);
$gray-950: rgb(2, 2, 2);

$accent-color: $blue-2;
$accent-bg-color: $blue-3;
$accent-fg-color: $white;

$destructive-color: $red-2;
$destructive-bg-color: $red-3;
$destructive-fg-color: $white;

$success-color: $green-2;
$success-bg-color: $green-3;
$success-fg-color: $white;

$warning-color: $yellow-2;
$warning-bg-color: $yellow-3;
$warning-fg-color: transparentize($black, 0.8);

$error-color: $red-2;
$error-bg-color: $red-3;
$error-fg-color: $white;

// Typography
$sans-serif: "Inter", sans-serif;
$monospace: "MonaspiceNe NFM", monospace;

$text-xs: 0.75rem; // 12px
$text-sm: 0.875rem; // 14px
$text-md: 1rem; // 16px
$text-lg: 1.125rem; // 18px
$text-xl: 1.25rem; // 20px
$text-2xl: 1.5rem; // 24px
$text-3xl: 2rem; // 32px

// Spacing
$space-xs: 0.125rem; // 2px
$space-sm: 0.25rem; // 4px
$space-md: 0.5rem; // 8px
$space-lg: 0.75rem; // 12px
$space-xl: 1rem; // 16px
$space-2xl: 1.25rem; // 20px
$space-3xl: 1.75rem; // 28px

// Border radius
$radius-xs: 0.5rem; // 8px
$radius-sm: 0.625rem; // 10px
$radius-md: 0.875rem; // 14px
$radius-lg: 1.25rem; // 20px
$radius-xl: 1.75rem; // 28px
$radius-2xl: 2.5rem; // 40px
$radius-full: 9999px;

// Transition
$transition-fast: all 0.1s ease-out;
$transition-normal: all 0.2s ease-out;
